.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: whitesmoke;
}

@media screen and (min-width: 800px) {
  .modal-content {
    width: 70%;
    min-height: 200px;
    margin: 0 auto;
    position: relative;
    height: auto;
  }
}



.modal-header {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}

.modal-header button {
  background-color: none;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 5px 8px;
  margin-top: 10px;
}

.modal-header button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.modal-body {
  margin: 20px;
  text-align: center;
  color: black;
}

.modal-inner-content button {
  margin: 10px 0 20px 0;
  background-color: rgb(91, 91, 210);
  border: 1px solid rgb(64, 62, 152);
  padding: 5px 10px;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 16px;
}

.modal-inner-content button:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 146);
  color: rgb(239, 239, 239);
}

.modal-description {
  text-align: justify;
}

.modal-inner-content select {
  display: block;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
}

.destination-description {
  max-width: 70%;
  margin: 20px auto;
  word-break: auto-phrase;
  font-style: italic;
  text-overflow: ellipsis;
}

.destination-image {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

.sadface-icon {
  height: 75px;
  margin: 10px 0;
}

.claimed-text {
  margin-bottom: 10px;
}